@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  background-color: #ffffff; /* ライトモードの背景色 */
  color: #333333; /* ライトモードのテキスト色 */
}

.dark body {
  background-color: #1a1a1a; /* ダークモードの背景色 */
  color: #f5f5f5; /* ダークモードのテキスト色 */
}

/* 目次 */
.toc-list-item {
  padding: 8px 0; /* 上下のスペースを追加 */
  border-bottom: 1px solid #e2e8f0; /* ボーダーを追加 */
}

.toc-list-item:last-child {
  border-bottom: none; /* 最後の項目のボーダーを削除 */
}

.toc-link {
  color: #3182ce; /* リンクの色を設定 */
  text-decoration: none; /* 下線を削除 */
}

.toc-link:hover {
  text-decoration: underline; /* ホバー時に下線を追加 */
}

.node-name--H3 {
  margin-left: 1.5rem; /* 例: 1.5remの左マージンを追加 */
}

/* サイドバー */
@media (max-width: 768px) {
  .custom-max-width-blogpost {
    max-width: none;
    width: 100%;
  }
  .custom-max-width-sidebar {
    max-width: none;
    width: 100%;
  }
}
